.about-container {


  margin-top: 100px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

}

@media (max-width: 768px) {
  .about-container {
    padding: 10px;
  }
}


.about-container h4 {
    color: #333; /* Цвет заголовков */
    margin-bottom: 10px; /* Отступ снизу */
    font-family: 'Roboto', sans-serif; /* Шрифт заголовков */
}

.about-container p {
    color: #555; /* Цвет текста */
    line-height: 1.6; /* Высота строки для лучшей читаемости */
}

.about-buttons {
    margin-top: 20px; /* Отступ сверху */
}

.about-buttons button {
    margin: 0 5px; /* Горизонтальные отступы между кнопками */
}

iframe {
    border: none; /* Убираем стандартную рамку */
    border-radius: 8px; /* Скругленные углы для карты */
}

@media (max-width: 768px) {
    .about-container {
        padding: 10px; /* Уменьшаем отступы на мобильных устройствах */
    }


}
